
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  /*background-image: linear-gradient( rgb(230, 142, 98),rgb(46, 188, 171));*/
  background-image:url(../images/backwall.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
}

h1 {
 
	text-align:center;
}
 
#container {

  display:grid;
  grid-gap:2rem;
  grid-template-columns:1fr 2fr;
  position:relative;
  margin:auto;
  max-width:1024px;
}

#vid {
	width:480px;
	height:300px; 
  margin:10px;
  margin-top:20px;
  
}

.col1 { 
  background-color: black;
  border:8px solid rgb(108, 106, 106);
  
  height:fit-content;
  box-shadow: 6px 4px 5px rgb(17, 17, 16);

  
}


 .controls{
  position:absolute;
  width:480px;      
  margin-left:10px; 
  margin-top:-35px;
  background: rgba(12, 12, 12,.8);
  border:1px solid red;
  border-radius: 10px;
  height:32px;
}

.controls_btn {
  position:absolute;
  width:90%;
  top:-5px;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  flex-wrap: nowrap;
  height:24px; 
  z-index:1;
  margin:65px; 
  margin-left:20px;
  
}
.volumebtn{ 
  margin-right:30px;
}

#volumeslider{
  position:absolute;
  top:-3.3rem;
  left:260px;
  width:50px;
  margin-right:10px;
  visibility:hidden;
}

.btn {
  cursor: pointer; 
  background:transparent;
  border:none;
  margin-top:-6rem;
  margin-left:20px;
  margin-right:5px;
  
 
}

.btn img {
  position: relative;
  width:20px;	 
  height:24px;
  margin-top:-2.5rem;
  margin-left:-20px; 
	opacity:1;
  padding:0;
}

/* div containing select options for video selection  */
.selection{
  display:none;
  width: 180px;
  margin-left:300px; 
  margin-top:-80px;
  background: rgb(146, 170, 178);
  color:rgb(38, 38, 233);
  border: 2px solid #f50404;
  height:75px;
  
 
}
/* div containing subtiles selection foption  */
.subtitles{
  position:absolute; 
  margin-left:300px;
  margin-top:-75px;
  color:rgb(50, 16, 223);
  background-color: #efecc3;
  border:3px solid rgb(2, 78, 2);
  display:none;

}


/* trascript container span*/
.trans_container{
  position:absolute;
  top:-53px;
  right:-20px;;
  background-color:#000000;
  border:1px solid rgb(0, 0, 0);
  color:rgb(189, 218, 234);
  width:30px;
  text-align:center;
  cursor:pointer;
}
/* anchors for transcript */
a{
  color:rgb(189, 218, 234);
  text-decoration: none;
}

.pop { 
	position:absolute;
	top:10px;
	left:25px;
  width:470px;
  height:35px;
	background:rgba(238, 205, 157,.8);
  color:#f2f3f5;
	border:2px solid rgb(16, 16, 16);
  border-radius: 10px;
	padding:1px;
	font-weight:bold;
	z-index:3;
  opacity:1;
  transition: all .1s;
  
}

#video-select{
  background-color: #e35a0a;
  position:relative;
  width: 50px;
  height:100px;
  margin-top:0;
  margin-left:500px;
  
  
}
/*.closed_caption{
  position:absolute;
  margin-left:50px;

}*/

.show-transcript{ 
  background-color: rgb(37, 85, 130);
  border:3px solid rgb(137, 139, 141);
  margin-top:-150px;
  width:120px;;
  margin-left:365px;
  visibility:hidden;
}

.show{
  display:none;
 
  
}

.hide {
  opacity:0;
  transition: all;
}

 .thumbnail{  
   top:10px;
   left:25px;
   width:50px;
   height:30px;
 }
 .title{ 
  text-align:center;
  margin:-30px;
}


.col2 {
 
  background-color: rgb(8, 9, 9);
	height:75vh;
  border:7px solid rgb(97, 97, 95);
}

.size{
  height:47vh;
  width:44vw;
}

iframe {
	width:100%;
	height:72vh;
  border:none;
}

#caption {
  position: absolute;
  width: 355px;
  left: 0;
  margin-top:-3.5em;
  min-height:3em;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: black 1px 1px 3px;
  padding-bottom: .5em;
  background-color:hsla(250,10%,50%,0.8)
}


#transcript span {
  display:table-row;
}


/* show the timings in square brackets before each "subtitle" in the transcript. */
#transcript [data-begin]:before {
  content: " [" attr(data-begin) "s-" attr(data-end) "s]"; 
  font-size:80%; 
  display:table-cell; 
  padding-right:1em;
}



@media screen and (max-width:600px) {
  #container {
    display:grid;
    grid-template-columns:1fr;
    grid-gap:1rem;
    
   
  }
 
  .col2 {
    grid-row:2;
    height:50vh;
   
  }
 
  iframe {
    width:100%;
    height:50vh;
    border:none;
  }

  
}